<div class="d-flex flex-column jutify-content-center align-items-center">
  <%=image_tag story.image.attached? ? story.image : 'user_picture.png', class: '' %>
  <small style="max-width:3.5rem; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;">  <%= story.user.username  %></small>
</div>