<div class="d-flex flex-column jutify-content-center align-items-center">
  <%=image_tag 'user_picture.png' , class: 'img-thumbnail rounded-circle border border-2 border-primary', style: 'width: 3.5rem; ' %>
  <small style="max-width:3.5rem; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;">username</small>
</div>