<div class="d-flex justify-content-between my-2">
  <div class="d-flex">
    <%=image_tag liker.profile_picture.attached? ? liker.profile_picture : 'user_picture.png', class: 'img-thumbnail rounded-circle', style: 'width: 10%'  %>
    <div class="d-flex flex-column mx-3">
      <small class=" text-dark fw-bold mt-2" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width:10rem;">
        <%= link_to liker, class:'a-decoration-none', data: {turbo_frame: "_top"} do %>
          <%=liker.username %>
          <%end %>
          </small>
    </div>

  </div>
  <%=render 'layouts/shared/follow_state', user: liker %>
</div>