<div class="d-flex justify-content-between">
  <div class="d-flex">
    <%=image_tag suggestion.profile_picture.attached? ? suggestion.profile_picture : 'user_picture.png', class: 'img-thumbnail rounded-circle', style: 'width: 2.5rem'  %>
    <div class="d-flex flex-column mx-3">
      <small class=" text-dark fw-bold" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width:10rem;">
        <%= link_to suggestion, class:'a-decoration-none', data: {turbo: false} do %>
          <%=suggestion.username %>
        <%end %>

      </small>
      <small class="text-muted" style="font-size:.7rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width:10rem;">Suggested for You by in instagram </small>
    </div>

  </div>
  <%=render 'layouts/shared/follow_state', user: suggestion %>
</div>